<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img width="18px" alt="Brand" src="assets/empty-set.png">
      </a>
      <a class="navbar-brand" href="#">voidAdmin</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
<div class="container">

  <div class="jumbotron">
    <h1>voidAdmin</h1>
    <p>Interfaccia di amministrazione pronta per lo sviluppo e la personalizzazione in Angular4 e Typescript</p>
    <pre>
      git clone
      npm install
      ng serve</pre>
    <button class="btn btn-primary pull-right" (click)="goLogin()">Login</button>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h3>Angular 4</h3>
      <p>Angular 4.0 typescript application</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Bootstrap 3</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Sass</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h2>Altre funzioni</h2>
      <blockquote>
        <ul>
          <li>jquery</li>
          <li>bootstrap-sass</li>
          <li>ngx-bootstrap</li>
          <li>font-awesome</li>
          <li>chart.js</li>
          <li>ng2-charts</li>
          <li>angular2-moment</li>
          <li>ngx-toastr</li>
        </ul>
      </blockquote>
    </div>
  </div>

</div>
